 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;600;800&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
   box-sizing: none;
   outline: none;
   transition: all 0.2s ease-in;
   font-family: 'Work Sans', sans-serif;
 }

 html {
   scroll-behavior: smooth;
   font-size: 62.5%;
 }

 body {
   position: relative;
   background-color: #09090d;
   /* cursor: crosshair; */
   cursor: url(https://img.icons8.com/fluency/25/000000/cursor--v1.png), auto;
 }

 @media (max-width: 768px) {
   html {
     font-size: 53%;
   }
 }

 .btnGoBack {
   margin-top: 8rem;
   font-size: 3rem;
   text-transform: uppercase;
   color: rgba(240, 248, 255, 0.242);
   text-decoration: underline;
 }

 .btnGoBack i {
   position: relative;
   top: 2px;
 }

 .btnGoBack:hover {
   color: rgba(240, 248, 255, 0.742);
 }